<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="7d0a9ba4-e8eb-4917-8bdc-17a9629ecb23" wadlVersion="http://wadl.dev.java.net/2009/02" name="CreateTravelPolicy" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="7d0a9ba4-e8eb-4917-8bdc-17a9629ecb23fileName">CreateTravelPolicy</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints/>
  <con:environmentSpec>
    <con:entry environmentId="efe954c8-49a1-4008-9325-b90238c3d913">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="3524f57a-22cb-4727-8f09-cbf427ec655b">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="3d919fd0-b0f3-4d78-af39-a32f282ca514">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="670fc96f-c546-4765-901a-3dff52b2df00">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
